body{
    background-color: rgb(38, 38, 38);
    font-size:150%;
}
div{
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 10px 10px 30px 10px;
    text-align: center;
    background-color: rgb(44, 44, 44);

}
h1{

    color:  rgb(2, 116, 255);
    
}
h2{
    width: 100%;
    color: rgb(210, 210, 210);
    margin: 20px 0px;
}
input{
    border-style: none;
    border:none;
    border-radius: 3%;
    width: 80%;
    font-size:80%;

}
button{
    margin: 30px 3px 3px 0px;
    border-style: none;
    border-radius: 5%;
    font-weight: bold;
    background-color: rgb(6, 112, 112);
    color: white;
    padding: 10px 10px 10px 10px;
    width: 60%;
    font-size: 80%;
}